In [1]:
x<-1:10

In [2]:
x

 [1]  1  2  3  4  5  6  7  8  9 10

In [3]:
y<- runif(5)

In [4]:
y

[1] 0.7630529 0.2996256 0.3205906 0.9760872 0.3928263

In [5]:
z <- c("abc","d","ef","g")
print(z)

[1] "abc" "d"   "ef"  "g"

In [7]:
z[1]

[1] "abc"

In [8]:
m <- matrix(1:50, nrow = 4, byrow=T)

Warning message in matrix(1:50, nrow = 4, byrow = T):
"la longueur des données [50] n'est pas un diviseur ni un multiple du nombre de lignes [4]"

In [9]:
m

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12] [,13]
[1,]  1    2    3    4    5    6    7    8    9   10    11    12    13
[2,] 14   15   16   17   18   19   20   21   22   23    24    25    26
[3,] 27   28   29   30   31   32   33   34   35   36    37    38    39
[4,] 40   41   42   43   44   45   46   47   48   49    50     1     2

In [10]:
age <- c(45, 22, 61, 14, 37)
gender <- c("Female", "Male", "Male", "Female", "Male")
height <- c(1.68, 1.85, 1.8, 1.66, 1.72)
age <- c(45, 22, 61, 14, 37)
married <- c(T, F, T, F, F)
(df <- data.frame(age, gender, height, married))

  age gender height married
1 45  Female 1.68    TRUE
2 22  Male   1.85   FALSE
3 61  Male   1.80    TRUE
4 14  Female 1.66   FALSE
5 37  Male   1.72   FALSE

In [11]:
str(df)

'data.frame':	5 obs. of  4 variables:
 $ age    : num  45 22 61 14 37
 $ gender : chr  "Female" "Male" "Male" "Female" ...
 $ height : num  1.68 1.85 1.8 1.66 1.72
 $ married: logi  TRUE FALSE TRUE FALSE FALSE

In [13]:
x <- 1:10
y <- c("abc", "d", "ef", "g") 
(ls <- list(x, y))

[[1]]
 [1]  1  2  3  4  5  6  7  8  9 10

[[2]]
[1] "abc" "d"   "ef"  "g"

In [19]:
ls[[1]]

 [1]  1  2  3  4  5  6  7  8  9 10

In [20]:
ls[[2]]

[1] "abc" "d"   "ef"  "g"

In [22]:
ls[[1]][2]

[1] 2

In [24]:
score <- 1:5
ifelse(score >= 3, "pass", "fail")

[1] "fail" "fail" "pass" "pass" "pass"

In [25]:
x <- 1:10
y <- rep(NA, 10)
for (i in 1:length(x)) {
y[i] <- log(x[i])
}

In [27]:
y

 [1] 0.0000000 0.6931472 1.0986123 1.3862944 1.6094379 1.7917595 1.9459101
 [8] 2.0794415 2.1972246 2.3025851

In [28]:
tmp <- lapply(x, log)
(y <- do.call("c", tmp))

 [1] 0.0000000 0.6931472 1.0986123 1.3862944 1.6094379 1.7917595 1.9459101
 [8] 2.0794415 2.1972246 2.3025851

In [29]:
x <- 1:10
y <- rep(NA, 10)
library(parallel)
(n.cores <- detectCores() - 1)
## set up cluster
cluster <- makeCluster(n.cores)
## run jobs in parallel
tmp <- parLapply(cluster, x, log)
## stop cluster
stopCluster(cluster)
# collect results
y <- do.call("c", tmp)

[1] 19

In [31]:
y

 [1] 0.0000000 0.6931472 1.0986123 1.3862944 1.6094379 1.7917595 1.9459101
 [8] 2.0794415 2.1972246 2.3025851

In [39]:
a <- 1:10
save(a, file = "dumData.Rdata")
rm(a)
a

ERROR: Error in eval(expr, envir, enclos): objet 'a' introuvable

In [41]:
load("dumData.Rdata")
a

 [1]  1  2  3  4  5  6  7  8  9 10

In [43]:
var1 <- 1:5
var2 <- (1:5)/10
var3 <- c("R", "and", "Data Mining", "Examples", "Case Studies")
df1 <- data.frame(var1, var2, var3)
names(df1) <- c("VarInt", "VarReal", "VarChar")

In [45]:
df1

  VarInt VarReal VarChar
1 1      0.1     R
2 2      0.2     and
3 3      0.3     Data Mining
4 4      0.4     Examples
5 5      0.5     Case Studies

In [46]:
write.csv(df1, "dummmyData.csv", row.names = FALSE)

In [47]:
df2 <- read.csv("dummmyData.csv")
print(df2)

  VarInt VarReal      VarChar
1      1     0.1            R
2      2     0.2          and
3      3     0.3  Data Mining
4      4     0.4     Examples
5      5     0.5 Case Studies